{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	|| Les Vapes
{% endblock %}

{% block stylesheets %}
	{{ parent()}}
	{{ encore_entry_link_tags('vape') }}
{% endblock %}

{% block body %}
	<section class="container">
	<h1 class="my-5 text-primary d-flex justify-content-center align-self-center text-uppercase">Les Vapes</h1>
		<div class="container d-flex justify-content-center">
			{{ form_start(form) }}

			<div class="d-flex flex-column">
				<div class="row mt-3">
					<div class="col-md-4 ">
						{{ form_label(form.search)}}
						{{ form_widget(form.search) }}
						{{ form_errors(form.search)}}
					</div>
					<div class="col-md-4">
						{{ form_label(form.category)}}
						{{ form_widget(form.category) }}
						{{ form_errors(form.category)}}
					</div>
					<div class="col-md-4">
						{{ form_label(form.brand)}}
						{{ form_widget(form.brand) }}
						{{ form_errors(form.brand)}}
					</div>
				</div>

				<div class="row mt-3 mb-5 d-flex justify-content-center">
					<div class="col-md-4">
						{{ form_label(form.fork)}}
						{{ form_widget(form.fork) }}
						{{ form_errors(form.fork)}}
					</div>
					<div class="col-md-4">
						{{ form_label(form.watt)}}
						{{ form_widget(form.watt) }}
						{{ form_errors(form.watt)}}
					</div>
				</div>
			</div>

			<div class="d-flex justify-content-center">
				<button class="search btn btn-dark border border-secondary text-uppercase fw-bold">RECHERCHER &nbsp {% include 'icon/search.svg'%}</button>
			</div>
			{{ form_end(form) }}
		</div>
		<div class="row">
			{% for vape in vaper %}
				{% include '/components/vape.html.twig' %}
			{% endfor %}
		</div>
	</section>
{% endblock %}
{% block footer %}
	{% include 'components/_footer.html.twig' %}
{% endblock %}
