<div class="col-lg-3">
	<div class="card border border-primary bg-dark my-5" style="width: 18rem;">
		<img src="{% if vape.poster %}{{ asset('uploads/images/vape/') ~ vape.poster}}{% else %}{{ asset('build/images/placeholder-vape.jpeg')}}{% endif %}" class="card-img-top" alt="...">
		<img src= {{ asset('build/images/etiquette.webp')}} class="etiquette w-75">
		<h3 class="priceCard fw-bold text-white"> {{ vape.price }} €</h3>
		<div class="card-body">
			<h5 class="card-title d-flex fw-bold justify-content-center text-primary">
				{{ vape.brand }}</h5>
			<p class="card-text d-flex justify-content-center text-primary">
				{{ vape.model }}</p>
			<a href=" {{ path("vape_show", {'id': vape.id}) }}" class="btn btn-lg d-flex text-uppercase justify-content-center btn-outline-secondary text-primary">En savoir + ?</a>
		</div>
	</div>
</div>
